:root {
    --background: rgb(224, 234, 247);
    --header-background: white;
    --footer-background: rgb(243, 242, 242);
}

body {
    height: 100vh;
    font-family: 'Rubik', san-serif;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: rgb(215, 215, 215);
}

header {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;

}

main {
    padding: 20px;
}

footer {
    position: sticky;
    bottom: 0;
    padding: 7px 20px;
    font-size: .8em;
    display: flex;
    justify-content: flex-end;

}

.color-card {
    width: 200px;
    height: 150px;
    border-radius: 15px;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.39);
    text-align: center;
    margin: 5px;
}

.color-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}